# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [15]:
import sqlite3
import pandas as pd

con= sqlite3.connect('Walmart.db')
cur= con.cursor()
cur.execute('''SELECT * FROM Sales JOIN store_details using(store);''')

df1 = pd.DataFrame(cur.fetchall())

df1.columns= [i[0] for i in cur.description]

print(df1.shape)

(452192, 7)

In [19]:
df2 = pd.read_csv('economy_data.csv')
merged = pd.merge(df1, df2)
merged.head()

# Merged_Store_Data.csv merged.to_csv('Merged_Dataset.csv', index=False)

        Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0           1     1  2010-02-05      24924.50     False    A  151315
1           1     1  2010-02-12      46039.49      True    A  151315
2           1     1  2010-02-19      41595.55     False    A  151315
3           1     1  2010-02-26      19403.54     False    A  151315
4           1     1  2010-03-05      21827.90     False    A  151315
5           1     1  2010-03-12      21043.39     False    A  151315
6           1     1  2010-03-19      22136.64     False    A  151315
7           1     1  2010-03-26      26229.21     False    A  151315
8           1     1  2010-04-02      57258.43     False    A  151315
9           1     1  2010-04-09      42960.91     False    A  151315
10          1     1  2010-04-16      17596.96     False    A  151315
11          1     1  2010-04-23      16145.35     False    A  151315
12          1     1  2010-04-30      16555.11     False    A  151315
13          1     1  2010-05-07      17413.94     False    A  151315
14          1     1  2010-05-14      18926.74     False    A  151315
15          1     1  2010-05-21      14773.04     False    A  151315
16          1     1  2010-05-28      15580.43     False    A  151315
17          1     1  2010-06-04      17558.09     False    A  151315
18          1     1  2010-06-11      16637.62     False    A  151315
19          1     1  2010-06-18      16216.27     False    A  151315
20          1     1  2010-06-25      16328.72     False    A  151315
21          1     1  2010-07-02      16333.14     False    A  151315
22          1     1  2010-07-09      17688.76     False    A  151315
23          1     1  2010-07-16      17150.84     False    A  151315
24          1     1  2010-07-23      15360.45     False    A  151315
25          1     1  2010-07-30      15381.82     False    A  151315
26          1     1  2010-08-06      17508.41     False    A  151315
27          1     1  2010-08-13      15536.40     False    A  151315
28          1     1  2010-08-20      15740.13     False    A  151315
29          1     1  2010-08-27      15793.87     False    A  151315
...       ...   ...         ...           ...       ...  ...     ...
452162     45    98  2012-04-06        778.70     False    B  118221
452163     45    98  2012-04-13        559.14     False    B  118221
452164     45    98  2012-04-20        605.80     False    B  118221
452165     45    98  2012-04-27        619.41     False    B  118221
452166     45    98  2012-05-04        694.25     False    B  118221
452167     45    98  2012-05-11        893.60     False    B  118221
452168     45    98  2012-05-18        745.44     False    B  118221
452169     45    98  2012-05-25        795.94     False    B  118221
452170     45    98  2012-06-01        874.64     False    B  118221
452171     45    98  2012-06-08        713.50     False    B  118221
452172     45    98  2012-06-15        856.35     False    B  118221
452173     45    98  2012-06-22        622.62     False    B  118221
452174     45    98  2012-06-29        690.52     False    B  118221
452175     45    98  2012-07-06        659.65     False    B  118221
452176     45    98  2012-07-13        695.21     False    B  118221
452177     45    98  2012-07-20        845.30     False    B  118221
452178     45    98  2012-07-27        657.63     False    B  118221
452179     45    98  2012-08-03        516.46     False    B  118221
452180     45    98  2012-08-10        727.49     False    B  118221
452181     45    98  2012-08-17        500.16     False    B  118221
452182     45    98  2012-08-24        415.40     False    B  118221
452183     45    98  2012-08-31        346.04     False    B  118221
452184     45    98  2012-09-07        352.44      True    B  118221
452185     45    98  2012-09-14        605.96     False    B  118221
452186     45    98  2012-09-21        467.30     False    B  118221
452187     45    98  2012-09-28        508.37     False    B  118221
452188     45    98  2012-10-05        628.10     False    B  118221
452189     45    98  2012-10-12       1061.02     False    B  118221
452190     45    98  2012-10-19        760.01     False    B  118221
452191     45    98  2012-10-26       1076.80     False    B  118221

[452192 rows x 7 columns]

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452192 entries, 0 to 452191
Data columns (total 7 columns):
Store           452192 non-null int64
Dept            452192 non-null int64
Date            452192 non-null object
Weekly_Sales    452192 non-null float64
IsHoliday       452192 non-null object
Type            452192 non-null object
Size            452192 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 24.1+ MB

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB

In [22]:
common = [col for col in df1.columns if col in df2.columns]
common

['Store', 'Date', 'IsHoliday']

In [23]:
for col in common:
    ex1 = df1[col].iloc[0]
    ex2 = df2[col].iloc[0]
    print(col)
    print('Types:')
    print('df1: {}, df2: {}'.format(type(ex1), type(ex2)))
    print('\n')

Store
Types:
df1: <class 'numpy.int64'>, df2: <class 'numpy.int64'>


Date
Types:
df1: <class 'str'>, df2: <class 'str'>


IsHoliday
Types:
df1: <class 'str'>, df2: <class 'numpy.bool_'>

In [24]:
df1.IsHoliday = df1.IsHoliday.astype(bool)

In [25]:
merged = pd.merge(df1,df2)
print(merged.shape)
merged

(31817, 16)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
1,1,2,2010-02-12,44682.74,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,3,2010-02-12,10887.84,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
3,1,4,2010-02-12,35351.21,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
4,1,5,2010-02-12,29620.81,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
5,1,6,2010-02-12,9135.00,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
6,1,7,2010-02-12,18310.31,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
7,1,8,2010-02-12,37334.83,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
8,1,9,2010-02-12,16562.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
9,1,10,2010-02-12,31494.77,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
10,1,11,2010-02-12,21760.75,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
11,1,12,2010-02-12,8654.07,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
12,1,13,2010-02-12,36476.40,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
13,1,14,2010-02-12,18129.02,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
14,1,16,2010-02-12,11873.89,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
15,1,17,2010-02-12,13403.66,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
16,1,18,2010-02-12,19006.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
17,1,19,2010-02-12,1490.79,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
18,1,20,2010-02-12,3697.70,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
19,1,21,2010-02-12,8735.83,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
20,1,22,2010-02-12,14807.95,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
21,1,23,2010-02-12,22812.41,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
22,1,24,2010-02-12,8050.24,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
23,1,25,2010-02-12,13268.75,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
24,1,26,2010-02-12,10050.92,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
25,1,27,2010-02-12,2339.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
26,1,28,2010-02-12,1008.36,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
27,1,29,2010-02-12,7696.61,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
28,1,30,2010-02-12,5328.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
29,1,31,2010-02-12,3228.96,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31787,45,44,2012-09-07,2443.88,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31788,45,45,2012-09-07,11.94,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31789,45,46,2012-09-07,11690.80,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31790,45,47,2012-09-07,39.96,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31791,45,49,2012-09-07,5.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31792,45,52,2012-09-07,1016.16,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31793,45,55,2012-09-07,4067.42,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31794,45,56,2012-09-07,1068.47,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31795,45,58,2012-09-07,1855.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31796,45,59,2012-09-07,166.66,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31797,45,60,2012-09-07,252.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31798,45,67,2012-09-07,4330.95,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31799,45,71,2012-09-07,4323.08,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31800,45,72,2012-09-07,29602.05,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31801,45,74,2012-09-07,10646.00,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31802,45,79,2012-09-07,14539.56,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31803,45,80,2012-09-07,751.80,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31804,45,81,2012-09-07,15073.25,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31805,45,82,2012-09-07,13974.11,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31806,45,83,2012-09-07,637.32,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31807,45,85,2012-09-07,1462.10,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31808,45,87,2012-09-07,7381.49,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31809,45,90,2012-09-07,23505.91,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31810,45,91,2012-09-07,15375.97,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31811,45,92,2012-09-07,51652.12,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31812,45,93,2012-09-07,3607.37,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31813,45,94,2012-09-07,3938.63,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31814,45,95,2012-09-07,52417.47,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31815,45,97,2012-09-07,7426.19,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684
31816,45,98,2012-09-07,352.44,True,B,118221,75.70,3.911,11024.45,12.8,52.63,1854.77,2055.7,191.577676,8.684

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!